@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flash {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}

.animate-flash {
  animation: flash 0.4s ease-in-out;
}